name: docker tagged

on:
  push:
    tags:
    - '*'

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Login to HSDP Docker registry
        uses: docker/login-action@v1
        with:
          registry: docker.na1.hsdp.io
          username: ${{ secrets.HSDP_DOCKER_USERNAME }}
          password: ${{ secrets.HSDP_DOCKER_PASSWORD }}
      -
        name: Checkout repository
        uses: actions/checkout@v2
        with:
          # We must fetch at least the immediate parents so that if this is
          # a pull request then we can checkout the head.
          fetch-depth: 2
      - name: Set output
        id: vars
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}
      -
        name: Build and push logproxy-filter-drop
        uses: docker/build-push-action@v2
        with:
          context: ./logproxy-filter-drop
          file: ./logproxy-filter-drop/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: philipssoftware/logproxy-filter-drop:${{ steps.vars.outputs.tag }},docker.na1.hsdp.io/philipssoftware/logproxy-filter-drop:${{ steps.vars.outputs.tag }}
          cache-from: type=registry,ref=philipssoftware/logproxy-filter-drop:latest
          cache-to: type=inline
      -
        name: Build and push logproxy-filter-email
        uses: docker/build-push-action@v2
        with:
          context: ./logproxy-filter-email
          file: ./logproxy-filter-email/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: philipssoftware/logproxy-filter-email:${{ steps.vars.outputs.tag }},docker.na1.hsdp.io/philipssoftware/logproxy-filter-email:${{ steps.vars.outputs.tag }}
          cache-from: type=registry,ref=philipssoftware/logproxy-filter-email:latest
          cache-to: type=inline      
      -
        name: Build and push logproxy-filter-replace
        uses: docker/build-push-action@v2
        with:
          context: ./logproxy-filter-replace
          file: ./logproxy-filter-replace/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: philipssoftware/logproxy-filter-replace:${{ steps.vars.outputs.tag }},docker.na1.hsdp.io/philipssoftware/logproxy-filter-replace:${{ steps.vars.outputs.tag }}
          cache-from: type=registry,ref=philipssoftware/logproxy-filter-replace:latest
          cache-to: type=inline
      -
        name: Build and push logproxy-filter-test
        uses: docker/build-push-action@v2
        with:
          context: ./logproxy-filter-test
          file: ./logproxy-filter-test/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: philipssoftware/logproxy-filter-test:${{ steps.vars.outputs.tag }},docker.na1.hsdp.io/philipssoftware/logproxy-filter-test:${{ steps.vars.outputs.tag }}
          cache-from: type=registry,ref=philipssoftware/logproxy-filter-test:latest
          cache-to: type=inline
